<template>
    <div class="d-flex justify-center align-center h-100wh">
        <v-card width="50%" class="mx-auto box-shadow rounded-lg">
            <v-card-title :style="{ backgroundColor: getColor }">
                <h3>{{ edit ? "Edit " : "" }}Form</h3>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <v-form
                    ref="form"
                    :action="edit ? '/forms/' + getId : '/forms'"
                    method="POST"
                    v-model="valid"
                    enctype="multipart/form-data"
                >
                    <input type="hidden" name="_token" :value="csrf" />
                    <input
                        v-if="edit"
                        type="hidden"
                        name="_method"
                        value="PUT"
                    />
                    <v-text-field
                        v-model="heading"
                        variant="underlined"
                        name="heading"
                        :rules="required"
                        label="Heading Text"
                        prepend-icon="mdi-text-short"
                    ></v-text-field>
                    <fieldset class="custom__fieldset">
                        <legend>Social Media Links</legend>
                        <v-text-field
                            v-model="link"
                            variant="underlined"
                            name="link"
                            :rules="required"
                            label="Website Link"
                            prepend-icon="mdi-web"
                        ></v-text-field>
                        <v-text-field
                            v-model="linkedin"
                            name="linkedin"
                            variant="underlined"
                            :rules="required"
                            label="Linkedin Link"
                            prepend-icon="mdi-linkedin"
                        ></v-text-field>
                        <v-text-field
                            v-model="instagram"
                            name="instagram"
                            variant="underlined"
                            :rules="required"
                            label="Insta Link"
                            prepend-icon="mdi-instagram"
                        ></v-text-field>
                        <v-text-field
                            v-model="facebook"
                            name="facebook"
                            :rules="required"
                            variant="underlined"
                            label="Facebook Link"
                            prepend-icon="mdi-facebook"
                        ></v-text-field>
                    </fieldset>

                    <div class="color_patches">
                        <v-radio-group
                            v-model="color"
                            label="Select Color"
                            :rules="required"
                            inline
                            name="color"
                        >
                            <v-radio
                                label="red"
                                color="Red"
                                value="#FF0000"
                            ></v-radio>
                            <v-radio
                                label="blue"
                                color="Blue"
                                value="#0000FF"
                            ></v-radio>
                            <v-radio
                                label="green"
                                color="Green"
                                value="#00FF00"
                            ></v-radio>
                            <v-radio
                                :label="colorPick"
                                :color="colorPick"
                                :value="colorPick"
                            ></v-radio>
                            <v-dialog v-model="dialog" width="auto" persistent>
                                <template v-slot:activator="{ props }">
                                    <v-btn
                                        color="primary"
                                        class="ml-3"
                                        small
                                        v-model="dialog"
                                        v-bind="props"
                                        ><v-icon size="small" class="mr-2"
                                            >mdi-palette</v-icon
                                        >
                                        <small>Custom Color</small></v-btn
                                    >
                                </template>

                                <v-card>
                                    <v-color-picker
                                        v-model="colorPick"
                                        elevation="0"
                                    ></v-color-picker>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn
                                            color="danger"
                                            rounded="lg"
                                            variant="outlined"
                                            @click="dialog = !dialog"
                                            >Cancel</v-btn
                                        >
                                        <v-btn
                                            color="success"
                                            rounded="lg"
                                            variant="outlined"
                                            @click="dialog = !dialog"
                                            >Select</v-btn
                                        >
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-radio-group>
                    </div>
                    <v-img :src="image" v-if="edit" width="80"></v-img>
                    <v-file-input
                        label="Upload Logo"
                        type="file"
                        name="logo"
                        variant="underlined"
                        accept="image/png, image/jpeg, image/webp"
                    />
                    <div style="float: right" class="mb-4">
                        <v-spacer></v-spacer>
                        <v-btn
                            rounded="lg"
                            variant="outlined"
                            color="primary"
                            :rules="required"
                            type="submit"
                            :loading="loading"
                            :disabled="!valid"
                            @click="submit()"
                        >
                            Submit
                            <template v-slot:loader>
                                <span class="custom-loader">
                                    <v-icon light>mdi-cached</v-icon>
                                </span>
                            </template>
                        </v-btn>
                    </div>
                </v-form>
            </v-card-text>
        </v-card>
    </div>
</template>

<script>
export default {
    props: {
        formdata: {
            type: String,
            default: null,
        },
    },
    data() {
        return {
            link: "",
            linkedin: "",
            instagram: "",
            facebook: "",
            heading: "",
            loading: false,
            dialog: false,
            color: "",
            logo: null,
            required: [(v) => !!v || "Required"],
            valid: false,
            colorPick: "others",
            edit: false,
            image: "",
        };
    },
    watch: {
        colorPick() {
            if (this.colorPick != "others") {
                this.color = this.colorPick;
            }
        },
        edit() {
            if (this.edit) {
                const data = JSON.parse(this.formdata);
                this.link = data.link;
                this.linkedin = data.linkedin;
                this.instagram = data.instagram;
                this.facebook = data.facebook;
                this.heading = data.heading;
                this.color = data.color;
                this.colorPick = data.color;
                this.image = data.logo;
            }
        },
    },
    computed: {
        csrf() {
            return document
                .querySelector('meta[name="csrf-token"]')
                .getAttribute("content");
        },
        getColor() {
            if (this.edit) {
                return JSON.parse(this.formdata)["color"];
            } else {
                return "red";
            }
        },
        getId() {
            if (this.edit) {
                return JSON.parse(this.formdata)["id"];
            }
        },
    },
    beforeMount() {
        if (JSON.parse(this.formdata) && JSON.parse(this.formdata)["id"]) {
            this.edit = true;
        }
    },
    methods: {
        submit() {
            this.loading = true;
            if (this.$refs.form.validate()) {
                this.$refs.form.submit();
            }
        },
    },
};
</script>

<style lang="scss" scoped>
.h-100wh {
    height: 100vh;
    .custom-loader {
        animation: loader 1s infinite;
        display: flex;
    }
    .color_patches {
        display: flex;
    }
    .custom__fieldset {
        width: 97%;
        margin: auto;
        border-radius: 1rem;
        padding: 1rem 1.5rem;
        margin-bottom: 20px;

        legend {
            margin-left: 1rem;
        }
    }
    @-moz-keyframes loader {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
    @-webkit-keyframes loader {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
    @-o-keyframes loader {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
    @keyframes loader {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .box-shadow {
        box-shadow: 2px 7px 25px 15px rgba(0, 0, 0, 0.05);
    }
}
</style>
