<template>
    <section class="relative">
        <v-row
            v-if="JSON.parse(formdata)"
            class="parent__section"
            :style="{ backgroundColor: getData('color') }"
        >
            <v-col
                cols="12"
                md="6"
                lg="6"
                sm="6"
                class="left__section d-flex flex-column justify-space-between"
            >
                <div class="img__holder">
                    <v-img
                        :src="getData('logo')"
                        class="ma-auto"
                        width="150"
                        height="auto"
                    ></v-img>
                </div>
                <v-list density="compact" class="social__links">
                    <v-list-item v-for="(item, index) in links" :key="index">
                        <template v-slot:prepend>
                            <v-icon :icon="getIcon(item.type)"></v-icon>
                        </template>

                        <v-list-item-title>
                            <strong>
                                {{ getData(item.type) }}
                            </strong>
                        </v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-col>
            <v-col
                cols="12"
                md="6"
                lg="6"
                sm="6"
                class="right__section"
                :style="{ backgroundImage: `url(${img})` }"
            ></v-col>
        </v-row>
        <v-row v-else class="parent__section align-center justify-center">
            <div>
                <v-img src="images/arrow.png" width="300"></v-img>
            </div>
        </v-row>
        <v-card
            v-if="JSON.parse(formdata)"
            class="floating__card absolute box-shadow pa-5"
            width="90%"
        >
            <v-card-body class="mx-4">
                <h1 class="large__font">
                    {{ getData("heading") }}
                </h1>
            </v-card-body>
        </v-card>
        <a
            href="forms/create"
            class="no__decoration absolute box-shadow"
            :style="{ color: JSON.parse(formdata) ? getData('color') : 'red' }"
        >
            <v-icon size="4rem" class="redirect__icon">mdi-plus</v-icon>
        </a>
    </section>
</template>

<script>
export default {
    props: {
        formdata: {
            type: String,
            required: true,
        },
        img: {
            type: String,
            required: true,
        },
    },
    data() {
        return {
            links: [
                {
                    type: "link",
                },
                {
                    type: "linkedin",
                },
                {
                    type: "facebook",
                },
                {
                    type: "instagram",
                },
            ],
        };
    },

    methods: {
        getIcon(type) {
            switch (type) {
                case "facebook":
                    return "mdi-facebook";
                case "linkedin":
                    return "mdi-linkedin";
                case "link":
                    return "mdi-web";
                case "instagram":
                    return "mdi-instagram";
            }
        },
        getData(title) {
            return (
                JSON.parse(this.formdata) && JSON.parse(this.formdata)[title]
            );
        },
    },
};
</script>

<style lang="scss" scoped>
.relative {
    position: relative;
    height: 100vh;
    .parent__section {
        height: 100vh;
        width: 100vw;
        .left__section {
            padding: 5rem;
            .social__links {
                background-color: transparent !important;
            }
        }
        .right__section {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .floating__card {
        bottom: 30%;
        left: 5%;
        height: auto;
        border-radius: 1rem;
        .large__font {
            font-size: 5vw;
        }
    }
    .no__decoration {
        text-decoration: none;
        bottom: 2%;
        right: 2%;
        background-color: white;
        padding: 0.5rem;
        border-radius: 50%;
        border: 1px solid #787878;
    }
    .absolute {
        position: absolute;
    }
    .box-shadow {
        box-shadow: 2px 7px 25px 15px rgba(0, 0, 0, 0.05);
    }
}
@media screen and (max-width: 600px) {
    .floating__card {
        bottom: 5% !important;
    }
}
</style>
